.mainContainer__FAQcard{
  width: 90%;
  background: $colorBgWhite;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .FAQcard__imagesContainer{
    top: -6.8rem;
    display: flex;
    justify-content: center;
    position: absolute;
    filter:drop-shadow(0 2rem 1px $colorDividerLightGrayishBlue);
  }
  .FAQcard__info{
    padding: 6.8rem 1rem 1rem;
    width: 100%;
    h1{
      text-align: center;
      font-size: 2rem;
      padding: 1.4rem 0;
    }
    .info__acordeonContainer{
      .option{
        display: flex;
        flex-direction: column;
        position: relative;
        border-bottom: solid 1px $colorDividerLightGrayishBlue;
        padding: 1rem 0;
        >p {
          position: relative;
        }
        label{
          position: absolute;
          right: 0.3rem;     
          top: 0;
          padding: 0;  
        }
        .respuesta{
          padding-top: 1rem;
          padding-right: 1rem;
          // display: none;
        }
      }
    }
  }
}