.mainContainer{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(to top, $colorBgSoftBlue, $colorBgSoftViolet);
  font-family: $fontFamily;
  font-size: $fontSize;
  padding: 5rem 0;
}