//Layout
$resolutiontablet: 700px;
$resolutionDesktop: 1000px;

//Colors

  // Primary

    // Text

    $colorPrimaryTextVeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    $colorPrimaryTextSoftRed: hsl(14, 88%, 65%);

    // Gradient

    //Background gradient:

    $colorBgSoftViolet: hsl(273, 75%, 66%);
    $colorBgSoftBlue: hsl(240, 73%, 65%);

  // Neutral

    // Text

    $colorNeutralTextVeryDarkGrayishBlue: hsl(237, 12%, 33%);
    $colorNeutralTextDarkGrayishBlue: hsl(240, 6%, 50%);

    // Dividers

    $colorDividerLightGrayishBlue: hsl(240, 5%, 91%);

//Typography

  // Body
  $fontSize: 12px;

  // Font
  $fontFamily: 'Kumbh Sans', sans-serif;
  $fontWeightLight: 400;
  $fontWeightStrong: 700;